@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(images/texture.webp);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  color: var(--orange);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}
a:hover {
  color: #111;
  text-decoration: none;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  color: #1c4597;
  margin-bottom: 10px;
  position: relative;
}

p {
  color: #111;
  font-size: 14px;
  font-weight: 500;
}

.tick_double ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

button:focus {
  outline: none;
}

.sectiongap {
  padding: 40px 0;
}

.innerpage {
  margin-top: 7pc;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

.btn-primary {
  border: 1px solid #62171b;
  color: #fff;
  background-color: #62171b;
  font-size: 14px;
  border-radius: 0;
  font-weight: 600;
}
.btn-primary:hover {
  border: 1px solid #666;
  background-color: #fff;
  color: #62171b;
}
.btn-primary:hover i {
  color: #f0c96f;
}
.btn-primary:focus {
  box-shadow: none;
  border-color: #62171b;
}

.btn:focus {
  box-shadow: none;
}

.btn-secondary {
  border: 1px solid #62171b;
  color: #62171b;
  background-color: #fff;
  font-size: 14px;
  border-radius: 0;
  font-weight: 600;
}
.btn-secondary:hover {
  border: 1px solid #62171b;
  background-color: #62171b;
  color: #fff;
}

.tick ul {
  margin: 0 0 0 30px;
}
.tick ul li {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}
.tick ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c8";
  color: #62171b;
  font-size: 10px;
  transition: all 0.3s ease;
  margin-left: -30px;
  margin-right: 6px;
  position: relative;
  top: -2px;
}

.section-title {
  margin-bottom: 25px;
}
.section-title h3 {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 24px;
  color: #62171b;
  margin-bottom: 16px;
}
.section-title h3 strong {
  position: relative;
  background: #62171b;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding: 6px 15px;
}
.section-title h3 strong::before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #62171b;
  border-top: 33px solid transparent;
}
.section-title h3 i {
  color: #fff;
  margin-right: 5px;
  font-size: 14px;
}

/*header section*/
.navbar {
  padding: 0;
}

.custom-logo-link {
  position: absolute;
  left: 0;
  top: -50px;
  background-color: #fff;
  border-radius: 0;
}

.logo-main img {
  width: 170px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0;
  padding: 5px;
}

.topbar {
  background-color: #fff;
  padding: 6px 0;
  border-bottom: 1px solid #e5c791;
}
.topbar a {
  font-size: 13px;
  font-weight: 500;
}
.topbar ul li {
  float: left;
  color: #222;
  margin: 0 10px;
  list-style-type: none;
}
.topbar ul li:hover i {
  color: #62171b;
  transition: 500ms all ease;
}
.topbar .topbar_right {
  float: right;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.topbar .topbar_right i {
  font-size: 12px;
  color: #e1cfc3;
  margin-right: 5px;
}
.topbar .topbar_left {
  float: left;
  margin-bottom: 0;
  margin-left: 27%;
}
.topbar .topbar_left a {
  margin-top: 8px;
  display: table;
}
.topbar .topbar_left i {
  font-size: 12px;
  color: #e1cfc3;
  margin-right: 5px;
}

.midlogo {
  margin: 0 50px !important;
}

.menu-bar {
  background-color: #f8f2e4;
}

/*banner start*/
.banner-main {
  margin-top: 7pc;
}
.banner-main .banner-content {
  position: relative;
}
.banner-main .carousel-item {
  position: relative;
}
.banner-main .carousel-indicators [data-bs-target] {
  width: 30px;
  height: 5px;
  background-color: #000;
}
.banner-main .carousel-caption {
  transform: translateY(0);
  width: 70%;
  left: 8%;
  right: 0;
  padding-bottom: 0;
  bottom: 8pc;
  top: 8pc;
  z-index: 99;
  text-align: left;
}
.banner-main .carousel-caption h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.banner-main .carousel-caption h2 span {
  font-weight: 100;
}
.banner-main .carousel-caption p {
  color: #fff;
  font-weight: 300;
}

/*banner end*/
.pulseit {
  animation: pulse linear 0.5s infinite;
}

/*backto-top start*/
#backto-top {
  display: inline-block;
  background: #1c4597;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
  position: fixed;
  bottom: 30px;
  right: 5px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-align: center;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
#backto-top i {
  font-size: 20px;
  color: #fff;
  line-height: 50px;
}
#backto-top:hover {
  cursor: pointer;
  background: #1c4597;
}
#backto-top:active {
  background: #1c4597;
}

#backto-top.show {
  opacity: 1;
  visibility: visible;
}

/*backto-top end*/
.thanku_bg {
  background-image: radial-gradient(circle, #fff, #fff, #f8f2e4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}
.thanku_bg p {
  font-size: 18px;
  color: #111;
}

.form-control:focus {
  box-shadow: none;
}

/*dots*/
.owl-nav {
  margin-top: 16px;
  text-align: center;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  font-size: 0;
  background: #62171b;
  display: inline-block;
  width: 40px;
  height: 3px;
  margin: 0 5px;
  color: #fff;
  border-radius: 0;
  line-height: 38px;
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
  background: #e1cfc3;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: inherit !important;
}

.owl-carousel .item {
  width: 94%;
  margin: 0 auto;
}

/*dots*/
/*Search Button*/
.search-container .button {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #62171b;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.search-container .button:hover {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: white;
  color: black;
}

.search-container {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: bottom;
}
.search-container input {
  font-size: 14px;
}
.search-container i {
  margin-right: 0 !important;
  color: #111 !important;
}

.searchbutton {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: #fff;
  color: black;
}

.search {
  position: absolute;
  right: 38px !important;
  /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: #e1cfc3;
  outline: none;
  border: 0 !important;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search:focus {
  width: 250px;
  padding: 0;
  border: 1px solid var(--maroon);
}

.expandright {
  left: auto;
  right: 0;
}

.expandright:focus {
  padding: 0 0 0 10px;
}

/*Search Button*/
/*Notification*/
.notification {
  background: #e1cfc3;
}
.notification .notification_head {
  width: 100%;
  position: relative;
  background: #62171b;
  border-radius: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  text-transform: capitalize;
  line-height: 15px;
  padding: 14px;
}
.notification .notification_head::before {
  content: "";
  position: absolute;
  width: 1000px;
  right: 100%;
  background: #62171b;
  height: 44px;
  margin-top: -14px;
}
.notification .notification_head i {
  color: #f8f2e4;
  margin-right: 10px;
}
.notification .marquee_text {
  margin-top: 10px;
}
.notification .marquee_text span {
  margin: 0 20px;
  font-weight: 400;
  font-size: 14px;
}
.notification .marquee_text span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111";
  font-size: 12px;
  color: #62171b;
  margin: 10px;
  font-size: 12px;
}

/*Notification*/
/*Category Section*/
.section_title_left h6 {
  letter-spacing: 2.4px;
  color: #c89d81;
}
.section_title_left h3 {
  font-size: 28px;
  color: #62171b;
  font-weight: 600;
}
.section_title_left h1 {
  font-size: 28px;
  color: #62171b;
}

.categ_div .categ_col img {
  width: 100%;
}
.categ_div .categ_col .title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.categ_div .launched_fresh {
  background-image: url(images/texture2.webp);
  padding: 20px;
}
.categ_div .launched_fresh h3 {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 24px;
}
.categ_div .launched_fresh .launch_col {
  background-color: #62171b;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

/*Category Section*/
/*About Basumati Section*/
.lightbg {
  background-color: #f1eae6;
}

.about ul {
  margin-top: 20px;
}
.about ul li {
  font-weight: 600;
}

/*About Basumati Section*/
.best_selling .view_all {
  position: absolute;
  top: 1pc;
  right: 0;
}
.best_selling .view_all a {
  color: #62171b;
  font-size: 14px;
  font-weight: 700;
}
.best_selling .view_all i {
  color: #e1cfc3;
}
.best_selling .owl-carousel .item {
  width: 100%;
}
.best_selling .best_col {
  padding: 20px 10px;
  border: 1px solid #ccc;
  position: relative;
}
.best_selling .best_col .card {
  text-align: center;
  border: 0;
}
.best_selling .best_col .card img {
  border-radius: 0;
}
.best_selling .best_col .card h5 {
  font-size: 13px;
  font-weight: 600;
  height: 50px;
}
.best_selling .best_col .card h5 strong {
  background-color: #e1cfc3;
  color: #62171b;
  font-weight: 600;
  padding: 2px 5px;
  text-align: center;
  margin-top: 3px;
  display: inline-block;
}
.best_selling .best_col .card h5 i {
  color: #111;
  font-weight: 800;
}
.best_selling .best_col .card h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
}
.best_selling .best_col .card h4 {
  font-size: 20px;
  color: #62171b;
  font-weight: 700;
}
.best_selling .best_col .card h4 span {
  color: #888;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 300;
  margin-left: 5px;
}
.best_selling .best_col .card i {
  font-size: 12px;
}
.best_selling .best_col .card .card-body {
  padding: 1rem 0;
}
.best_selling .best_col .discount_div {
  background-color: #ea5c5c;
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  left: -5px;
  color: #fff;
  font-weight: 600;
}

.gray_bg {
  background-color: #e2e2e2;
}

.author_bg {
  background-color: #e2e2e2;
  background-image: url(images/topbg.webp);
  background-repeat: repeat-x;
}

.author_div h3 {
  font-size: 28px;
  color: #62171b;
  font-weight: 600;
}
.author_div .section_title_left {
  margin-bottom: 5pc;
}
.author_div .section_title_left h6 {
  color: #fff;
}

.trivia_col_one {
  background-color: #34587b;
  position: relative;
  padding: 20px;
  text-align: center;
  height: 300px;
}
.trivia_col_one .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
}
.trivia_col_one .overlay .overlay_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trivia_col_one .overlay .overlay_txt h3 {
  color: #fff;
  font-size: 16px;
}
.trivia_col_one .overlay .overlay_txt h5 {
  color: #fff;
  font-size: 36px;
  color: #e1cfc3;
}
.trivia_col_one a {
  color: #fff;
  font-size: 12px;
}

.trivia_col {
  position: relative;
}
.trivia_col img {
  height: 300px;
}
.trivia_col .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #fff;
}
.trivia_col .overlay .overlay_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trivia_col .overlay .overlay_txt h3 {
  color: #fff;
  font-size: 16px;
}
.trivia_col .overlay .overlay_txt h5 {
  color: #fff;
  font-size: 34px;
  color: #e1cfc3;
}
.trivia_col a {
  color: #d75840;
  font-size: 12px;
}

.marquee_div {
  background-image: url(images/paper_bg.webp);
  background-size: 100% 100%;
  height: 300px;
  position: relative;
}
.marquee_div h3 {
  color: #62171b;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  margin: 2pc 0 1pc 0;
  text-align: center;
}
.marquee_div marquee {
  height: 170px;
  padding: 0 70px;
}
.marquee_div ul li {
  display: flex;
}
.marquee_div ul li::before {
  position: relative;
  top: 2px;
}

.offer_div img {
  margin: 10px 0;
}

.border_outline {
  border-right: 1px solid #62171b;
}
.border_outline:last-child {
  border-right: 0;
}

.bendiv {
  margin: 1pc 0 2pc 0;
}
.bendiv ul {
  text-align: center;
}
.bendiv ul img {
  margin-right: 10px;
}
.bendiv ul h5 {
  color: #62171b;
  font-weight: 700;
  font-size: 18px;
}

footer {
  background-color: #e1cfc3;
  position: relative;
  padding: 15px 0 0 0;
  margin-top: auto;
}
footer a {
  color: #111;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  top: 0px;
  line-height: 1.4;
}
footer h4 {
  color: #111;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 20px;
  position: relative;
  font-weight: 600;
  margin-bottom: 22px;
}
footer h4::after {
  position: absolute;
  content: "";
  background: #c89d81;
  width: 30px;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0;
}
footer hr {
  width: 45%;
  height: 1px !important;
  background-color: #c89d81;
  opacity: 1;
}
footer li {
  color: #111;
  font-size: 13px;
  margin: 0 0 10px 0;
  line-height: 15px;
  font-weight: 500;
  display: flex;
}
footer li:hover a {
  color: #62171b;
  margin-left: 4px;
}
footer img {
  display: block;
}
footer i {
  font-size: 12px;
  color: #62171b !important;
  float: left;
  position: relative;
  top: 0px;
  margin-right: 10px;
}
footer p {
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
footer .catalogue a {
  margin: 4px 0;
}
footer .catalogue a:hover {
  color: #111;
}

footer .footlink ul li {
  margin-bottom: 8px;
}

footer .footlink ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  color: #62171b;
  font-size: 11px;
  transition: all 0.3s ease;
  margin-right: 4px;
}

.copyright {
  background: #fff;
  padding: 5px 30px;
  margin-top: 20px;
}
.copyright p {
  font-size: 10px;
  margin: 10px 0;
  color: #111;
  letter-spacing: 1.2px;
}
.copyright a {
  color: #62171b;
}
.copyright ul {
  display: flex;
  justify-content: end;
}
.copyright ul li {
  float: left;
  margin-right: 5px;
  margin-bottom: 0;
}
.copyright ul img {
  width: 64px;
  border-radius: 5px;
}

.catalogue img {
  margin-bottom: 10px;
  width: 50%;
  border: 1px solid #fff;
}

.catalogue a {
  color: #62171b;
  font-weight: 700;
  font-size: 12px;
  display: block;
}

.catalogue i {
  font-size: 13px;
}

.copyright a:hover {
  color: #fff;
}

/* ---- button ---- */
.filter-list {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.filter-list button {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 0;
  background-color: #e1cfc3;
  color: #111;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}
.filter-list button:focus {
  box-shadow: none;
}
.filter-list button:hover {
  background-color: #62171b;
  color: #fff;
}
.filter-list .active {
  background-color: #62171b !important;
  color: #fff !important;
  position: relative;
}

/* ---- button-group ---- */
/* ---- grid ---- */
/* ---- .grid-item ---- */
.filter_col {
  position: relative;
  padding: 25px 12px 24px;
  border: 1px solid #ccc;
}
.filter_col .card {
  text-align: center;
  border: 0 !important;
}
.filter_col .card img {
  border-radius: 0;
}
.filter_col .card h5 {
  font-size: 13px;
  font-weight: 600;
}
.filter_col .card h5 i {
  color: #111;
  font-weight: 800;
}
.filter_col .card h5 strong {
  background-color: #e1cfc3;
  color: #62171b;
  font-weight: 600;
  padding: 2px 5px;
  text-align: center;
  margin-top: 3px;
  display: inline-block;
}
.filter_col .card h3 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  height: 45px;
  color: #111;
  line-height: 16px;
}
.filter_col .card h4 {
  font-size: 16px;
  color: #62171b;
  font-weight: 700;
}
.filter_col .card h4 span {
  color: #888;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 300;
  margin-left: 5px;
}
.filter_col .card i {
  font-size: 12px;
}
.filter_col .card .card-body {
  padding: 10px 0;
}
.filter_col .card .btn-primary {
  padding: 5px;
}
.filter_col .card .btn-secondary {
  padding: 5px;
}
.filter_col .discount_div {
  background-color: #ea5c5c;
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  left: 0;
  color: #fff;
  font-weight: 600;
}

.price_div {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #62171b;
  font-weight: 700;
  margin-bottom: 5px;
}
.price_div i {
  font-size: 18px !important;
}
.price_div span {
  color: #888;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
  margin-left: 6px;
}
.price_div span i {
  font-size: 16px !important;
}

.modal {
  background: rgba(0, 0, 0, 0.8980392157);
}
.modal h3 {
  font-size: 28px;
  color: #62171b;
  font-weight: 600;
}
.modal .btn-close {
  background-color: #f8f2e4;
  position: absolute;
  top: -15px;
  right: -15px;
  height: 26px;
  width: 26px;
  opacity: 1;
  border-radius: 50%;
}
.modal .btn-close:focus {
  box-shadow: none;
}
.modal .modal-content {
  border-radius: 5px;
  border-top: 3px solid #62171b;
  background-image: linear-gradient(#fffbf2 30%, #fff);
}

.horizontal {
  text-align: center;
  position: relative;
}
.horizontal img {
  background-color: #fff;
}
.horizontal hr {
  position: absolute;
  top: 1pc;
  left: 0;
  right: 0;
  height: 2px;
  z-index: -1;
  background-color: #e1cfc3;
  opacity: 1;
}

.social_icon .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  transition: all 0.5s ease;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 8px;
}

.social_icon .social-button i {
  font-size: 10px;
  line-height: 20px;
  color: #fff !important;
  padding-left: 5px;
}

.policy-div h3 {
  font-size: 20px;
  color: #62171b;
  font-weight: 500;
  margin-bottom: 12px;
}
.policy-div h5 {
  font-weight: 700;
  font-size: 18px;
}

.faq_div {
  margin: 2pc 0 1pc 0;
}
.faq_div .accordion-item {
  margin: 15px 0;
}
.faq_div .accordion-item h2 {
  margin-bottom: 0;
}
.faq_div .accordion-item button {
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #e1cfc3;
  padding: 14px;
}
.faq_div .accordion-item button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  background-color: #f8f2e4;
  color: #62171b;
}
.faq_div .accordion-item button:focus span {
  transform: rotate(10deg);
  transition: 500ms all ease;
}
.faq_div .accordion-item button:not(.collapsed) {
  box-shadow: none;
  background-color: #f8f2e4;
  color: #62171b;
  border: 1px solid #e1cfc3;
}
.faq_div .accordion-item button span {
  background-color: #62171b;
  color: #f8f2e4;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 3px;
  line-height: 25px;
}
.faq_div .accordion-item .accordion-body {
  font-size: 14px;
}
.faq_div .accordion-button:not(.collapsed)::after {
  background-image: url(images/down-arrow.webp) !important;
  transform: rotate(-180deg);
}

.dataTables_wrapper {
  font-size: 15px;
  font-weight: 500;
}

.dataTables_wrapper i {
  color: #62171b;
}

.dataTables_wrapper thead {
  background-color: #e1cfc3;
  color: #62171b;
  font-size: 14px;
}

.dataTables_wrapper .dataTables_filter {
  margin-bottom: 1pc;
}

/* <----ALTERNATE COLUMNS--> */
.alternate_column h2 {
  font-weight: 700;
  font-size: 26px;
}

.alternate_column .row {
  margin: 1pc 0;
}

.alternate_column .row:nth-child(even) {
  direction: rtl;
  background: #e1cfc3;
  background-image: linear-gradient(#fff7f2, #fff);
  text-align: left;
  padding: 20px;
  border-top: 3px solid #e1cfc3;
  border-radius: 10px;
}

.alternate_column .row:nth-child(even) .content_box p {
  direction: ltr;
}

.alternate_column .row:nth-child(odd) {
  direction: ltr;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  border-top: 3px solid #e1cfc3;
  background-image: linear-gradient(#fffbf2, #fff);
}

.alternate_column .row:nth-child(even) .content_box li {
  direction: ltr;
}

.alternate_column .row[class*=col-] {
  direction: ltr;
}

.content_box {
  padding: 0px;
  text-align: left;
}

/* <----ALTERNATE COLUMNS--> */
/* <----contact.php--> */
.contact .card {
  background-image: linear-gradient(#fffbf2, #fff);
  padding: 15px;
  width: 100%;
  box-shadow: 0 15px 10px -15px #333;
  border-radius: 10px;
  border-top: 3px solid #e1cfc3;
}
.contact .card ul {
  display: flex;
  margin-bottom: 1pc;
}
.contact .card ul li i {
  font-size: 15px;
  color: #62171b;
  margin-right: 10px;
}
.contact .card p {
  line-height: 20px;
  margin-bottom: 5px;
}
.contact .card a {
  font-size: 14px;
  font-weight: 500;
  float: left;
}
.contact .card .contact_tel a {
  margin-right: 10px;
  border-right: 1px solid #62171b;
  padding-right: 5px;
}
.contact .card .contact_tel a:last-child {
  border-right: 0;
}
.contact .card .heading_sm {
  font-size: 16px;
  font-weight: 700;
  color: #62171b;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

/* <----contact.php--> */
/* <----board-of-directors.php--> */
.photo-item {
  position: relative;
}
.photo-item .photo-img {
  overflow: hidden;
  min-height: 57px;
  display: block;
  border-radius: 0;
}
.photo-item .photo-img .photo-img img {
  transform: scale(1);
  transition: 0.5s ease-in-out;
  width: 100%;
  border-radius: 10px 0 0 0;
}
.photo-item .cover-image {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}
.photo-item .photo-img {
  overflow: hidden;
  min-height: 57px;
  display: block;
  border-radius: 0;
  border: 1px solid #ccc;
}
.photo-item .photo-img img {
  transform: scale(1);
  transition: 0.5s ease-in-out;
  width: 100%;
  border-radius: 10px 0 0 0;
}
.photo-item .photo-date {
  color: #fff;
  position: absolute;
  z-index: 99;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .65) 100%); */
  display: flex;
  transform: scale(0.5);
  opacity: 0;
  transition: 300ms ease all;
  transition-delay: 0;
}
.photo-item .photo-date .photo-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7019607843);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
}
.photo-item .photo-date .photo-icon i {
  line-height: 60px;
  font-size: 25px;
  color: #fff;
}

.view_title {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #62171b;
  text-align: center;
  margin: 0;
  background: #e1cfc3;
  padding: 5px;
  border-radius: 0;
  box-shadow: 0px 15px 10px -15px #111;
  position: relative;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.view_title p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 12px;
  margin-top: 4px;
}

.photo-item .photo-img img {
  border-radius: 0;
}

.photo-item:hover .photo-img img {
  transform: scale(1.1);
}

.photo-item:hover .photo-date {
  transform: scale(1) rotate(0);
  opacity: 1;
  transition-delay: 300ms;
}

/* <----board-of-directors.php--> */
/* <----ebook.php--> */
.ebook .best_col {
  padding: 20px;
  border: 1px solid #ccc;
  position: relative;
}
.ebook .best_col .card {
  text-align: center;
  border: 0;
}
.ebook .best_col .card img {
  border-radius: 0;
}
.ebook .best_col .card h5 {
  font-size: 13px;
  font-weight: 600;
}
.ebook .best_col .card h3 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
}
.ebook .best_col .card h4 {
  font-size: 20px;
  color: #62171b;
  font-weight: 700;
}
.ebook .best_col .card h4 span {
  color: #888;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 300;
  margin-left: 5px;
}
.ebook .best_col .card i {
  font-size: 12px;
}
.ebook .best_col .card .wishlist {
  height: 30px;
  width: 30px;
  background-color: #f8f2e4;
  color: #62171b;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 30px;
  border-radius: 50%;
}
.ebook .best_col .card .share {
  height: 30px;
  width: 30px;
  background-color: #f8f2e4;
  color: #62171b;
  position: absolute;
  top: 50px;
  right: 10px;
  line-height: 30px;
  border-radius: 50%;
}
.ebook .best_col .card .card-body {
  padding: 1rem 0.5rem;
}
.ebook .best_col .card a {
  font-size: 14px;
  color: #62171b;
  font-weight: 800;
}
.ebook .best_col .discount_div {
  background-color: #ea5c5c;
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  left: -10px;
  color: #fff;
  font-weight: 600;
}

/* <----ebook.php--> */
.coming-soon img {
  height: 200px;
  margin: 50px auto;
}

/* <----EQUALHEIGHT--> */
.equalheight {
  display: flex;
}

.equalheight > [class*=col] {
  display: flex;
  flex-wrap: wrap;
}

/* <----EQUALHEIGHT--> */
.sticky_div {
  position: sticky;
  top: 135px;
}

.publciation h4 {
  color: #62171b;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 22px;
}
.publciation h4 i {
  color: #f8f2e4;
  font-size: 20px;
}

.members .view_title {
  height: 80px;
}

.ani_txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes color {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
.ani_txt h4 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  color: transparent;
  background: rgb(255, 0, 0);
  background: linear-gradient(90deg, rgb(143, 7, 7) 0%, rgb(141, 58, 3) 7%, rgb(210, 169, 39) 14%, rgb(230, 153, 11) 21%, rgb(235, 142, 20) 28%, rgb(195, 56, 223) 35%, rgb(223, 178, 30) 42%, rgb(247, 218, 91) 49%, rgb(66, 158, 239) 56%, rgb(57, 74, 241) 63%, rgb(228, 90, 90) 70%, rgb(230, 83, 83) 77%, rgb(228, 58, 58) 84%, rgb(224, 26, 26) 91%, rgb(221, 13, 13) 97%, rgb(202, 6, 6) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 500%;
  animation: color 10s linear infinite;
}

.owl-carousel .owl-item img, .best_col img {
  position: relative;
  border-radius: 0 !important;
}

.bookid {
  position: absolute;
  background: #fff;
  padding: 2px 8px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  color: #111;
  margin-top: -22px;
  border: 1px dashed #62171b;
}

.best_selling .best_col .bookid, .isotope_div .bookid, .publciation .bookid {
  position: relative;
  background-color: #fff;
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  color: #111;
  margin-bottom: 12px;
}

.floating_icon_bar {
  position: fixed;
  bottom: 5%;
  transform: translateY(-50%);
  z-index: 9999;
  right: 10px;
}

.floating_icon_bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 16px;
  width: 45px;
  height: 45px;
  line-height: 22px;
  border-radius: 50%;
  margin: 10px 0;
}

.whitebox {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 15px #ddd;
  border-top: 4px solid #e1cfc3;
}

.details_div {
  background-image: linear-gradient(#fffbf2, #fff);
  padding: 25px;
  border-radius: 10px;
  border-top: 3px solid #e1cfc3;
  margin: 0 auto;
}
.details_div h4 {
  font-size: 24px;
  color: #62171b;
  font-weight: 700;
  position: relative;
}
.details_div h4::after {
  position: absolute;
  content: "";
  background: #c89d81;
  width: 50px;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0;
}
.details_div .price_div {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #62171b;
  font-weight: 700;
  margin: 10px 0;
}
.details_div .price_div i {
  font-size: 16px !important;
}
.details_div h5 {
  font-size: 16px;
}
.details_div .bookid {
  position: relative;
  background-color: #fff;
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  color: #111;
  margin-top: 15px;
}

.cm .card img {
  border: 1px solid #62171b;
  border-radius: 0;
}

.cm .card .card-footer p {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}

.cm .card .card-footer {
  background-color: #62171b;
  padding: 12px 8px;
  text-align: center;
  border-radius: 0;
}

.lightbg2 {
  background-color: #f8f2e4;
  padding: 16px;
  border-radius: 0;
}
.lightbg2 h4 {
  font-size: 18px;
  font-weight: 700;
  color: #62171b;
}

.box2 {
  text-align: center;
  padding: 30px 0 20px 0;
  background-color: #fff;
  border: 1px solid #62171b;
  border-radius: 0;
  height: 140px;
}
.box2 P {
  color: #111;
  font-size: 14px;
  font-weight: 500;
}
.box2 img {
  height: 40px;
  margin-bottom: 8px;
}

.box2:hover {
  background-image: linear-gradient(#fff, #fff, rgba(225, 110, 116, 0.3607843137));
  border: 1px solid #62171b;
}

.scrollbox {
  height: 230px;
  overflow-y: scroll;
}

.scrollbox::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

.scrollbox li {
  line-height: 18px;
}

.scrollbox p {
  padding: 0 25px 0 0;
}

.scrollbox ol {
  padding: 0 25px 0 0;
}

.scrollbox:hover::-webkit-scrollbar {
  width: 5px;
}

.scrollbox:hover::-webkit-scrollbar-thumb {
  background-color: #62171b;
  border-radius: 10px;
}

@media (hover: none) {
  .scrollbox::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbox::-webkit-scrollbar-thumb {
    background-color: #62171b;
  }
}
.online-order .whitebox p {
  font-size: 20px;
  line-height: 30px;
}
.online-order .whitebox a {
  color: #62171b;
  font-size: 24px;
}

/* left_nav*/
.left_nav {
  margin-top: 20px;
}

.left_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left_nav li {
  float: none;
  margin-bottom: 0;
  border-bottom: 1px solid #62171b;
}

.left_nav li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  color: #d5ad93;
  font-size: 14px;
  position: absolute;
  margin: 7px 5px;
}

.left_nav li a {
  color: #111;
}

.left_nav .nav-pills .nav-link:hover {
  background-color: #62171b;
}

.left_nav .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background: #62171b !important;
}

.publciation .left_nav .nav {
  background: #fff;
  border: 1px solid #62171b;
}

.left_nav .nav {
  background: #fff;
  border-top: 1px solid #62171b;
  border-right: 1px solid #62171b;
  border-bottom: 0;
  border-left: 1px solid #62171b;
}

.left_nav .tab-content h2 {
  color: #111;
  font-weight: 600;
  font-size: 24px;
}

.left_nav .nav-pills .nav-link {
  border-bottom: 1px solid #62171b;
  border-radius: 0;
  display: block;
  background: linear-gradient(to right, #62171b 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  padding: 8px 8px 8px 20px;
  width: 100%;
  font-size: 14px;
  color: #111;
}

.left_nav .nav-pills .nav-link:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  color: #d5ad93;
  font-size: 14px;
  position: absolute;
  margin-left: -14px;
}

.left_nav .nav-pills .nav-link:last-child {
  border-bottom: none;
}

.left_nav .nav-pills .nav-link:hover {
  background-position: left bottom;
  color: #fff;
}

.left_nav .dropdown-toggle {
  width: 50%;
  font-size: 15px;
}

.dropdown-menu.show {
  display: block;
  width: 100%;
  font-size: 14px;
}

.dropdown-menu .dropdown-item {
  color: #000;
}

.dropdown-menu .dropdown-item.active {
  background: #e2a67e;
  color: #fff;
}

/* left_nav*/
.aboutus h2 {
  margin-bottom: 10px;
}

.Directors_list_block {
  margin: 25px auto 50px auto;
  display: inline-block;
}

.img_frame {
  -o-border-image: url("images/img_border.webp") 100/35px/35px round;
     border-image: url("images/img_border.webp") 100/35px/35px round;
}/*# sourceMappingURL=style.css.map */